# copy this file to src/test/resources with the name credentials.properties
driverClassName=org.postgresql.Driver
url=jdbc:postgresql://serverurl:5432/database
username=username
password=password
aesSecret=aesSecret
